nav {
  width: var(--container-width);
  margin: 50px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  margin-right: 100px;
}

nav div {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  background-color: #d7f1ff;
  border: 1px solid #3ebcfe;
  padding: 16px 40px;
  border-radius: var(--border-radius);
  width: 75%;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: black;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width .3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

.nav-btn {
  background: linear-gradient(to right, var(--btn-light-color), var(--btn-dark-color));
  padding: 16px 0px;
  border-radius: var(--border-radius);
  color: #fff;
  width: 20%;
  text-align: center;
}

nav a {
  font-size: 1.2rem;
  text-decoration: none;
}

.hamburger {
  width: 34px;
  height: 25px;
  transition: all .3s ease-in;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
  height: 27px;
  transform: rotate(3deg);
}



@media screen and (max-width:1000px) {
  .logo {
    margin-right: 30px;
  }
}

@media screen and (max-width:970px) {
  .logo {
    margin-right: 20px;
  }
}

@media screen and (max-width:900px) {
  .hamburger {
    display: block;
  }

  .mobile_nav {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #3ebcfe;
    z-index: 100;
    text-align: center;
    transition: top .9s ease-in-out;
  }

  .mobile_nav.open {
    top: 120px;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    border: 0;
    padding: 0px 0px;
    width: 100%;
  }

  nav ul li a {
    padding: 20px 0;
    display: inline-block;
    background-color: #ffffff;
    width: 100%;
  }

  nav ul li a:hover {
    background-color: #d7f1ff;
  }

  .nav-btn {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a::after {
    display: none;
  }
}


@media screen and (max-width:700px) {
  .hamburger {
    width: 28px;
    height: 21px;
    transition: all .3s ease-in;
  }

  .hamburger:hover {
    cursor: pointer;
    height: 23px;
    transform: rotate(3deg);
  }
}