@font-face {
  font-family: 'aldrich';
  src: url('./assets/Aldrich-Regular.ttf');
}

@font-face {
  font-family: 'urban';
  src: url('./assets/Urbanist[wght].ttf');
}

:root {
  --a-tag: 1.27rem;
  --header-2: 3.5rem;
  --header-3: 1.3rem;
  --p-tag: 1.27rem;
  --p-line-height: 1.8;
  --footer-light-color: #3ebcfe;
  --footer-dark-color: #257198;
  --btn-light-color: #3ebcfe;
  --btn-dark-color: #053954;
  --border-radius: 25px;
  --container-width: 85%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'urban', Arial, Helvetica, sans-serif;
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'aldrich', Arial, Helvetica, sans-serif;
}